*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head
{
    position: fixed;
    display: flex;
    width: 100%;
    padding:20px ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar
{
    display:flex;
    margin-right: 50px;
    animation: shadow 1.7s;
}
.cstu
{
    color:#ff4040;
    text-shadow: 0 0 8px ;
    margin-left: 3px;
    margin-right: 3px;
}
.name
{
    display: flex;
    font-size: 30px;
    text-decoration:none;
    color:white;
    font-weight:600;
    margin-left: 5%;
    letter-spacing: 2px;
    
}
.navbar a
{
    font-size: 22px;
    text-decoration: none;
    color:white;
    font-weight:600;
    margin-left:100px;
    transition: 0.2s;
}
.navbar a:hover 
{
    color:#ff4040;
    text-shadow: 0 0 9px ;
    transform: scale(1.2);
}
.navbar a:hover::after 
{
    width: 100%;
    transition: width .3s linear;
    text-shadow: 0 0 9px #ff4040;
}
.navbar a:after 
{
    content: '' ;
    position:absolute;
    background-color: #ff4040;
    height: 2px ;
    width:0 ;
    margin:auto;
    left: 0;
    bottom: -2px;
    display: block;
}
body
{
    background-image:url(../image/bac3.png);
    background-size: 1920px 1100px;
}
.main-a
{
    color: white;
    display: flex;
    justify-content: center;
}
.con
{
    margin-top: 250px;
    font-size: 45px;
    text-shadow: 0 0 4px white;
}
.box
{
    display: flex;
    justify-content: space-between;
    margin-left: 440px;
    margin-right: 440px;
}
.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 350px;
    background: #1b1b1b ;
    color: white;
    padding-top: 20px;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 60px;
    padding: 20px 25px;
}
.card h4
{
    display: flex;
    font-size: 30px;
    color: #ff4040;
    text-shadow: 0 0 5px #ff4040;
    justify-content: center;
}
.card img
{
    width: 300px;
    height: 250;
    border-radius:30px ;
}
.card a
{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: #ff4040;
    width: 170px;
    border-radius: 50px;
    border: 2px solid transparent;
    justify-content: center;
    margin-left: 65px;
    transition: .5s;
}
.botton:hover
{
    border:2px solid #ff4040;
    background: transparent;
}
.card2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 350px;
    background: #1b1b1b ;
    color: white;
    padding-top: 20px;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 60px;
    padding: 20px 25px;
}
.card2 h4
{
    display: flex;
    font-size: 30px;
    color: #ff4040;
    text-shadow: 0 0 5px #ff4040;
    justify-content: center;
}
.card2 img
{
    width: 300px;
    height: 250;
    border-radius:30px ;
}
.card2 a
{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: #ff4040;
    width: 170px;
    border-radius: 50px;
    border: 2px solid transparent;
    justify-content: center;
    margin-left: 65px;
    transition: .5s;
}
.botton1:hover
{
    border:2px solid #ff4040;
    background: transparent;
}