*
{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*:root 
{
    --c-1 : #1d1a39; 
    --c-2 : #451952;
    --c-3 : #662549;
    --c-4 : #ae445a;
    --c-5 : #f39f5a;
    --c-6 : #e8bcb9;
}*/
:root
{
    --c-1 : #021024; 
    --c-2 : #052659;
    --c-3 : #2c609c;
    --c-4 : #5483b3;
    --c-5 : #7da0ca;
    --c-6 : #c1e8ff;
    --f-45: 45px;
    --f-40: 40px;
    --f-30: 30px;
    --f-28: 28px;
    --f-25: 25px;
    --f-22: 22px;
    --f-18: 18px;
}
body
{
    background: linear-gradient(90deg, rgba(5,38,89,1) 0%, rgba(44,96,156,1) 50%, rgba(5,38,89,1) 100%);
    position: relative;
    position: relative;
    padding : 0 8%;
}
.bac 
{
    position: absolute;
    width: 100%;
    height: 790px;
    top: 0;
    left: 0;
    z-index: -10000;
    overflow: hidden;
   
}
.bac img
{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}
.nav-bar h1
{
    display: flex;
    font-family: 'Homemade Apple', cursive;
    font-size: 45px;
    color: var(--c-5);
    text-shadow: 0 0 5px var(--c-5);
}
.nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}
.nav-other
{
    position: relative;
    display: flex;
    padding: 15px;
    padding-left: 30px;
    background: var(--c-2);
    width: 460px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0 0 5px var(--c-1) inset;
}
.nav-other a
{
    position: relative;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin:0 20px ;
    font-size: 18px;
    color: var(--c-6);
    font-weight: 200;
    z-index: 1000;
}
.nav-bar span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 170px;
    border-radius: 40px;
    background: var(--c-4);
    box-shadow: 0 0 25px var(--c-1) inset;
    transition: .55s;
}
.nav-other a:nth-child(1):hover~span
{
    left:0;
}
.nav-other a:nth-child(2):hover~span
{
    left:160px;
    width: 140px;
}
.nav-other a:nth-child(3):hover~span
{
    left:287px;
}
.contact
{
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 13px;
    padding-left: 8px;
    background: var(--c-2);
    width: 100px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--c-1) inset;
    transition: .55s;
}
.contact:hover
{
    background: var(--c-4);
}
.contact a
{
    text-decoration: none;
    position: relative;
    font-size: 18px;
    margin-left: 10px;
    color: var(--c-6);
    font-weight: 200;
}
.ri-menu-line
{ 
    display: none;
    font-size: 28px;
}
.content
{
    display: flex;
    margin-top: 20px;
}

.infor-0
{
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 650px;
    height: 420px;
    position: relative;
    margin-left: -50px;
    padding-left: 50px;
    padding-right: 30px;
    border-radius: 40px;
}
.infor-0 ul
{
    list-style: none;
}
#btn-content-0 ,#btn-content-1
{
    text-decoration: none;
    color: var(--c-5);
}
.infor-0 h1
{
    font-size: var(--f-45);
}
.name
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.main-name
{
    background: linear-gradient(var(--c-6),var(--c-3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.main-last
{
    background: linear-gradient(var(--c-6),var(--c-3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 10px;
}
.nick-name
{
    background: linear-gradient(var(--c-6),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.infor-0
{
    margin-top: 50px;
    color: var(--c-6);
}
.ri-double-quotes-l
{
    position: absolute;
    display: flex;
    text-decoration: none;
    font-size: var(--f-25);
    margin-left: -30px;
    margin-top: -18px;
    color: var(--c-5);
}
.ri-double-quotes-r
{
    position: absolute;
    display: flex;
    margin-top: -29px;
    margin-left: 370px;
    text-decoration: none;
    font-size: var(--f-25);
    color: var(--c-5);
}
.btn-more a 
{
    text-decoration: none;
    font-weight: 600;
    color: var(--c-5);
}
.btn-more 
{
    font-size: 18px;
    margin-top: 40px;
    height: 70px;
    width: 190px;
    padding-top: 23px;
    padding-left: 30px;
    border-radius: 40px;
    background: var(--c-2);
    box-shadow: 0 0 10px var(--c-3) inset;
    transition: .5s;
    display: flex;
}
.btn-more:hover
{
    transform: scale(1.2);
}
.btn-contact1
{
    display: flex;
    position: absolute;
}
.contact-1 ul 
{
    position:absolute;
    display: flex;
}
.contact-1 ul li 
{
    display: flex;
    margin-left: 25px;
    margin-top: 30px;
    padding-top: 7px;
    padding-left: 9px;
    width: 60px;
    height: 60px;
    border-radius:40px ;
    background: var(--c-2);
    box-shadow: 0 0 15px var(--c-3) inset;
    transition: .5s;
}
.ig
{
    position: relative;
    display: flex;
    font-size: 22px;
    margin-top: 5px;
    margin-left: 18px;
    font-weight: 600;
    background: linear-gradient(var(--c-5),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow:hidden;
    
}
.git
{
    position: relative;
    display: flex;
    font-size: 22px;
    margin-top: 8px;
    margin-left: 18px;
    font-weight: 600;
    background: linear-gradient(var(--c-5),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow:hidden;
}
.contact-1 ul li:hover
{
    width: 200px;
}
.contact-1 ul li a
{
    text-decoration: none;
}
.ri-instagram-line
{
    font-size: 40px;
    display: flex;
    background: linear-gradient(var(--c-5),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ri-github-line
{
    font-size: 40px;
    display: flex;
    background: linear-gradient(var(--c-5),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider
{
    display: flex;
   position: relative;
   margin-left: 250px;
   margin-top: 8px;
   background: transparent;
   height: 560px;
   width: 510px;
   border-radius: 40px;
   border: 4px solid var(--c-5);
   box-shadow: 0 0 15px var(--c-6);
   overflow: hidden;
   
}
.bottom-nav
{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 120px;
    margin-top: -180px;
}
.bottom-nav a
{
    text-decoration: none;
    margin-top:180px;
}
.ri-arrow-up-circle-line
{
    background: linear-gradient(var(--c-6),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
}
.ri-arrow-down-circle-line
{
    background: linear-gradient(var(--c-6),var(--c-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
}
.slider
{
    transition: .5s;
}
.picvid
{
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    transition: ease-in-out;

}
.slider-body 
{
    display: flex;
    align-items: center;
    right: 0;
}


/* -----responsive design------ */
@media (max-width: 1525px)
{
    .infor-0
    {
        height: 391px;
    }
    :root
    {
        --f-45: 40px;
        --f-40: 35px;
        --f-30: 25px;
        --f-28: 23px;
        --f-25: 20px;
        --f-22: 17px;
        --f-18: 13px;
    }
    .pic-slice 
    {
        width: 450px;
    }
    .picvid
    {
        overflow-x: hidden;
    }
    .vid-slice2
    {
        position: relative;
        width: 450px;
        height: 500px;
    }
    .slider
    {
        height: 510px;
        width: 460px;
    }
}
@media (max-width: 1404px)
{
    body 
    {
        padding: 0 4%;
    }
    .infor-0
    {
        height: 365px;
        left: 25px;
    }
    :root
    {
        --f-45: 35px;
        --f-40: 30px;
        --f-30: 20px;
        --f-28: 18px;
        --f-25: 15px;
        --f-22: 12px;
        --f-18: 8px;
    }
    .pic-slice 
    {
        width: 400px;
    }
    .picvid
    {
        overflow-x: hidden;
    }
    .vid-slice2
    {
        position: relative;
        width: 400px;
        height: 450px;
    }
    .slider
    {
        height: 450px;
        width: 410px;
    }
}
@media (max-width: 1201px)
{
    .content
    {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        position: relative;
        justify-content: center;
        padding: 0 200px 0 200px;
        width: 100%;
        margin: 0;
    }
    .infor-0
    {
        order: 2;
    }
    .slider
    {
        margin-left: 0;
        width: 100%;
        /*padding:0 100px 0 100px ;*/
    }
    .slider-body
    {
        padding: 0 100px 0 180px;
    }
    .bottom-nav
    {
        margin-left: -60px;
    }
    .infor-0
    {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0),rgba(255,255,255,0));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin-left: 0;
    }
    .infor-0 ul li 
    {
        
        padding-right: 10px;
    }
    .bac
    {
        height: 650px;
    }
}
@media (max-width: 983px)
{
    .content
    {
        padding: 0 20px 0 20px;
    }
    .slider
    {
        padding: 0 70px 0 70px;
    }
    .picvid div 
    {
        position: relative;
        justify-content: center;
        align-items: center;
    }
    body 
    {
        overflow-x: hidden;
    }
}

@media (max-width:777px)
{
    .nav-bar h1
{
    display: flex;
    font-size: 40px;
    color: var(--c-5);
    text-shadow: 0 0 5px var(--c-5);
}
.nav-other
{
    width: 325px;
    height: 45px;
}
.nav-other a
{
    margin:0 13px ;
    font-size: 13px;
    color: var(--c-6);
    font-weight: 200;
    z-index: 1000;
}
.nav-bar span
{
    height: 100%;
    width: 120px;
}
.nav-other a:nth-child(1):hover~span
{
    left:0;
}
.nav-other a:nth-child(2):hover~span
{
    left:115px;
    width: 100px;
}
.nav-other a:nth-child(3):hover~span
{
    left:210px;
    width: 110px;
}
.contact
{
    width: 100px;
    height: 45px;
    padding-top: 15px;
    padding-left: 5px;
}
.contact a
{
   font-size: 13px;
}
.slider-body
{
    margin-left: 0;
}  
.content
{
    padding: 0 ;
}
.slider
{
    padding: 0 ;
}
.infor-0
{
    margin-left: -50px;
}
body
{
    overflow-x: hidden;
}
}
@media (max-width: 687px)
{
    .content
{
    padding: 0 ;
}
.slider
{
    padding: 0 ;
}
    
.nav-other
{
    top: -200px;
    margin-left: -25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 150px;
    align-items: center;
}
.nav-other span
{
    display: flex;
    width: 100%;
    height: 60px;
}
.nav-other a
{
    margin-bottom: 10px;
    font-size: 30px;
}
.nav-other a:nth-child(1):hover~span
{
    top:0;
}
.nav-other a:nth-child(2):hover~span
{
    top: 46px;
    width: 100%;
    left: 0;
}
.nav-other a:nth-child(3):hover~span
{
    top: 92px;
    left:0;
    width: 100%;
}
body
{
    top: 200px;
    overflow-x: hidden;
}
.slider-body
    {
        margin-left: -30px;
    }
}
@media(max-width:656px)
{
    .pic-slice 
    {
        display: flex;
        width: 380px;
    }
    .picvid
    {
        overflow-x: hidden;
    }
    .vid-slice2
    {
        position: relative;
        display: flex;
        width: 380px;
        height: 430px;
    }
    .slider
    {
        margin: 0;
        position: relative;
        justify-content: center;
        height: 430px;
        width: 390px;
    }
    .infor-0
    {
        margin-top: 5rem;
        padding-right: 5px;
        padding-left: 35px;
    }
    .btn-contact1
    {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        padding: 0;
        top: 0;
    }
    .contact-1 ul li 
{
    display: flex;
    margin-left: 25px;
    margin-top: 30px;
    overflow: hidden;
}
.contact-1 ul li:hover
{
    width:60px;
}
.btn-more
{
    margin-top: 45px;
    width: 140px;
    height: 60px;
    padding-left: 15px;
}
.btn-more a
{
    font-size: 15px;
}
.slider-body
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.bottom-nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    margin-left: 12px;
    
}
}
@media (max-width:469px)
{
    :root
    {
        --f-45: 30px;
        --f-40: 25px;
        --f-30: 15px;
        --f-28: 13px;
        --f-25: 15px;
        --f-22: 8px;
        --f-18: 3px;
    }
    .infor-0
    {
        height: 320px;
    }
    .btn-more
    {
        padding-top: 18px;
        margin-top: 30px;
    }
    .contact-1 ul li 
    {
        margin-top: 12px;
    }
}
@media (max-width:451px)
{
    .slider
    {
        height: 380px;
        width: 340px;
    }
    .pic-slice 
    {
        width: 330px;
    }
    .vid-slice2
    {
        width: 330px;
        height: 380px;
    }
    :root
    {
        --f-45: 25px;
        --f-40: 20px;
        --f-30: 10px;
        --f-28: 8px;
    }
    .infor-0 ul li p 
    {
        font-size: 15px;
    }
    .ri-double-quotes-l
    {
        font-size: 10px;
        margin-left: -10px;
    }
    .ri-double-quotes-r
    {
        font-size: 10px;
        margin-left: 350px;
    }
    .content
    {
        margin-top: 50px;
    }
    .infor-0
    {
        height: 290px;
    }
}
@media (max-width:424px)
{
    .infor-0
    {
        height: 270px;
    }
    .infor-0 ul li p 
    {
        font-size: 13px;
    }
    .ri-double-quotes-r
    {
        margin-left: 300px;
    }
    .contact-1 ul li 
    {
        padding-top: 7px;
        padding-left: 9px;
        width: 50px;
        height: 50px;
    }
    .ri-instagram-line
    {
        font-size: 30px;
    }
    .ri-github-line
    {
        font-size: 30px;
    }
    .btn-more a
    {
        font-size: 13px;
    }
    .btn-more
    {
        width: 120px;
        height: 50px;
    }
    
}

