*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head
{
    position: fixed;
    display: flex;
    width: 100%;
    padding:20px ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar
{
    display:flex;
    margin-right: 50px;
    animation: shadow 1.7s;
}
.cstu
{
    color:#f6b679;
    text-shadow: 0 0 8px #f6b679;
    margin-left: 3px;
    margin-right: 3px;
}
.name
{
    display: flex;
    font-size: 30px;
    text-decoration:none;
    color:#e67c7c;
    font-weight:600;
    margin-left: 5%;
    letter-spacing: 2px;
    animation: slice2 1s ease-out;
    
}
.navbar a
{
    font-size: 22px;
    text-decoration: none;
    color:white;
    font-weight:600;
    margin-left:100px;
    transition: 0.2s;
}
#na4
{
    animation: slice 1.5s ease-out;
}
.navbar a:hover
{
    color:#f6b679;
    text-shadow: 0 0 9px #f6b679;
    transform: scale(1.2);
}
.navbar a:hover::after
{
    width: 100%;
    transition: width .3s linear;
    text-shadow: 0 0 9px #f6b679;
}
.navbar a:after
{
    content: '' ;
    position:absolute;
    background-color: #f6b679;
    height: 2px ;
    width:0 ;
    margin:auto;
    left: 0;
    bottom: -2px;
    display: block;
}
body
{
    background-image: url(obj/picture/bac.jpg);
    background-size: 1920px 1100px;
}

.maine
{
    height: 100vh;
    width: 90%;
    margin-left: 90px;
    display:flex;
    align-items:center;
}
.infor
{
    margin-top: ;
    background:;
    font-weight: 400;
    margin-left: 10%;
    padding-right: 50px;
    animation: slice3 2s ease-out;
}
.aboutMe
{
    display: flex;
    position: center;
    font-size: 23px;
    color:white;
    font-weight: 600;
    margin-top: 10px;
}
.myName
{
    display: flex;
    font-size: 25px;
    color:#f6b679;
    
    margin-top: 10.2px;
    text-shadow:0 0 15px #f6b679;
}
.divintro
{
    display: flex;
    font-size: 23px;
    color: #e67c7c;
    font-weight: 600;
}
.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    margin-top: 70px;
    margin-left: 50px;
    font-size: 20px;
    background: #b45c6c;
    border: 3px solid transparent;
    padding: 12px 30px;
    border-radius: 50px;
    color: #61305d;
    font-weight: 600;
    transition: all .75s ease ;
}
.contact:hover
{
    background: transparent;
    border: 3px solid #b45c6c;
    color: #b45c6c;
    box-shadow: 0 0 10px #f6b679;
}
@keyframes slice {
   from {
    margin-right: -700px;
   }
   to{
    margin-right: 0px;
   }
    
}
@keyframes slice2 {
    from {
     margin-left: -500px;
    }
    to{
     margin-left: 10x;
    }
     
 }
 @keyframes slice3 {
    from {
     margin-left: -500px;
    }
    to{
     margin-left: 10x;
    }
     
 }
@keyframes shadow {
    0% {
    }
    100% {
        text-shadow:0 0 15px #f6b679;
    }
}
.slider-bady
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider
{
    background:;
    border-radius: 10px;
    height: 750px;
    width: 500px;
    overflow:hidden;
    transition: 2s;
    margin-left: 500px;
    margin-top: 170px;
}
.bottom-nav
{
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.bottom-nav
{
    margin-bottom: 150px;
    margin-left: 535px;
}
.bottom-nav a
{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #e67c7c;
    box-shadow: 0 0 5px #f6b679;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.bottom-nav a:hover
{
    opacity: 1;
}
.vid-slice2
{
    margin-top: 100px; 
    margin-left: 50px;
}
.vid-slice2
{
    flex: 100%;
}
#vid1
{
    padding-bottom: 100px;
}
.picvid
{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

